<section class="section padding-right">
  <div class="container mt-3">
    <div class="row d-flex">   
      <div class="col-lg-12" data-aos="fade-up">
        <h2 class="headline text-center">"{{ about.intro|whitespace|raw}}"
        <span class="text-end fs-5 d-block">Gilbert Keith Chesterton </span>
        </h2>
      </div>
    </div>
  </div> 
</section><!-- @around end -->