<section id="{{nav.contact}}">
  <div class="container-fluid padding-side">
    <div class="content bg-grey rounded-5 pt-6">
      <div class="row d-flex justify-content-center"> 
        <div class="col-md-4 align-items-middle">
          <h3 class="headline text-start"> {{ contact.title|whitespace|raw}}</h3>
          <p class="desc text-start"> {{ contact.desc|whitespace|raw}}</h2>
        </div>
        <div class="col-md-5">
          <h3>formular</h3>
        </div> 
      </div> 
    </div>  
  </div>  
</section><!-- @contact end-->