<section id="hero" class="section dark" data-aos="fade-up">
  <div class="container-fluid padding-side">
    <div class="d-flex rounded-5 hero-img" style="background-image: url({{ hero.image }})">
    </div>
  </div>  
</section><!-- @hero end-->